*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E0EAF3;
    height: 100vh;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    display: flex;
    list-style: none;
}
.menu a{
    color:black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  
   
}
.menu a:hover{
    color: #F86642;
}
.logo-cabecalho{
    padding: 20px;
}
.top-text a{
    color: #F86642;
    font-family: 'Montserrat', sans-serif;
}
.top-text a:hover{
    color: black;
    
}
.botao-servico{
    background-color: #F86642;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    
    border-color: #E0EAF3;
   
}
.botao-servico a{
    color: #E0EAF3;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.botao-servico:hover{
   
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    
    border-color: black;
   
}
.titulo-home{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;

}
.destaque-titulo{
    color: #F86642;
}
.descricao{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
}
.descricao-iten{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
   
}
.centralizar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.butao-avaliar-home{
   justify-content: center;
   align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #F86642;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    border-color: #E0EAF3;
}
.butao-avaliar-home a{
    color: #E0EAF3;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.butao-avaliar-home:hover{
    
     border-color: black;
 }

.imagem-home{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;

}
.cases{
   padding: 0;
    background-color: white;

}
.cases p{
    padding-top: 20px;
    display: flex;
   align-items: center;
   flex-direction: column;
   font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: bold;
 
 }

.imagem-servicos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    flex-direction: row;
    justify-items: center;
}

